.usuario{
    padding: 2rem;
    text-align: center;
}

.conteudo{
    background-color: #ffffff;
}

body{
    background-color: #007187;
    margin-top: 1em 
}

.opcoes{
    text-align: right;
}

.formulario{
    padding: 5em;
    padding-top: 3em;
}