<div class="row formulario">
    <div class="col s12">
      <h2>Funcionário</h2>
    </div>
    <form>
      <div class="col s12">
        <h6>Dados Pessoais</h6>
      </div>
      <div class="input-field col s2">
        <input id="codigo" type="text" class="validate" ng-model="funcionario.codigo"/>
        <label for="codigo">Codigo</label>
      </div>
      <div class="input-field col s7">
        <input id="nome" type="text" class="validate" ng-model="funcionario.nome"/>
        <label for="nome">Nome</label>
      </div>
      <div class="input-field col s3">
        <input id="sobrenome" type="text" class="validate" ng-model="funcionario.sobrenome"/>
        <label for="sobrenome">Sobrenome</label>
      </div>
      <div class="input-field col s3">
        <input id="dtnasc" type="text" class="validate" ng-model="funcionario.dtnasc"/>
        <label for="dtnasc">Data de Nascimento</label>
      </div>
      <div class="input-field col s3">
        <input id="cpf" type="text" class="validate" ng-model="funcionario.cpf"/>
        <label for="cpf">CPF</label>
      </div>
      <div class="input-field col s3">
        <input id="ensino" type="text" class="validate" ng-model="funcionario.ensino"/>
        <label for="ensino">Ensino</label>
      </div>
      <div class="input-field col s3">
        <select>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
        </select>
        <label>Sexo</label>
      </div>
      <div class="input-field col s9">
        <input id="endereco" type="text" class="validate" ng-model="funcionario.endereco"/>
        <label for="endereco">Endereço</label>
      </div>
      <div class="input-field col s2">
        <input id="cidade" type="text" class="validate" ng-model="funcionario.cidade"/>
        <label for="cidade">Cidade</label>
      </div>
      <div class="input-field col s1">
        <input id="uf" type="text" class="validate" ng-model="funcionario.uf"/>
        <label for="uf">UF</label>
      </div>
      <div class="col s12">
        <h6>Contato</h6>
      </div>
      <div class="input-field col s3">
        <input id="telefone" type="text" class="validate" ng-model="funcionario.telefone"/>
        <label for="telefone">Telefone</label>
      </div>
      <div class="input-field col s9">
        <input id="email" type="email" class="validate" ng-model="funcionario.email"/>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 direita">
        <button class="btn waves-effect waves-light" type="submit" id="botao" ng-click="estado()">Listar</button>
        <button class="btn waves-effect waves-light" type="submit" ng-click="cadastrarFuncionario()">Salvar</button>
      </div>
    </form>
    <div class="col s12" id="funcionarios">
      <table>
        <thead>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Cargo</th>
          <th>Data de Nascimento</th>
          <th>Opções</th>
        </thead>  
        <tbody>
          <tr ng-repeat = "funcionario in funcionarios">
            <td>{{funcionario.id}}</td>
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.id}}</td>
            <td>{{funcionario.id}}</td>
            <td>{{funcionario.id}}</td>
            <td>
              <button class="btn waves-effect waves-light" type="submit" ng-click="excluirFuncionario()">Excluir</button>
              <button class="btn waves-effect waves-light" type="submit" ng-click="editarFuncionario()">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  