<div class="row formulario">
    <form class="col s12" method="POST">
        <div class="row">
            <div class="col-12">
                <h2>Prontuários</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="nome" type="text" class="validate" title="Nome"/>
                <label for="nome">Nome</label>
            </div>
            <div class="input-field col s6">
                <input id="codigo" type="text" class="validate"/>
                <label for="codigo">Código</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="validate"/>
                <label for="data">Data</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="timepicker validate"/>
                <label for="hora">Hora</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="relatop" class="materialize-textarea"></textarea>
                <label for="relatop">Relato Paciente</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="analise" class="materialize-textarea"></textarea>
                <label for="analise">Análise Clínica</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 opcoes">
                <button class="waves-effect waves-light btn" type="submit">Salvar</button>
            </div>
        </div>
    </form>
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Paciente</th>
                    <th>CPF</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sds</td>
                    <td>sdsf</td>
                    <td>$0.87</td>
                    <td>$0.87</td>
                    <td>$0.87</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>    
