.usuario{
    padding: 3rem;
    text-align: center;
}

.conteudo{
    background-color: #ffffff;
}

body{
    background-color: #007187;
    margin-top: 1em 
}

.opcoes{
    text-align: right;
}

.formulario{
    padding: 2%;
    padding-top: 3%;
}

.listagem{
    padding-top: 3em;
}

.direita{
    text-align: right;
}

#pacientes {
    display: none;
}

#funcionarios{
    display: none;
}

#tela-login{
    padding: 20px;
}