<h2>Cenário Atual</h2>

<p>
    Em uma clínica psicológica, é atendido diversos pacientes com diversos sintomas de <br>
    depressão e ansiedade. Atualmente, a clínica necessita de um sistema que facilite <br>
    a consulta e atendimento ao paciente, agilizando o trabalho do psicólogo. A idéia <br>
    inicial é acabar com o acúmulo de fichas de cadastro de pacientes, para que haja <br>
    uma forma eficiente e segura de cadastrar os pacientes e os prontuários.<br>
</p>

<p>
    A clínica atualmente utiliza formulários impressos montados pela clínica, que são <br>
    entregues aos pacientes para que sejam preenchidos. Após o preenchimento, são separados <br>
    para que ao final do expediente, os dados sejam repassados para uma planilha que é <br>
    compartilhada com os atendentes e o administrador da clínica e serem armazenada no <br>
    driver da empresa. Caso haja alguma pane nos computadores, e os mesmos sejam formatados, <br> 
    é realizado o download da planilha mais recente armazenada no drive com os dados dos pacientes. <br>
</p>
<p>
    Durante a consulta, o psicólogo preenche um modelo de prontuário, anotando os dados clínicos<br>
    informados pelo paciente, além de anotar suas análises clínicas. Após a consulta, o psicólogo<br>
    armazena em seu arquivo pessoal, os dados do paciente consultado, para que haja um estudo posteriormente.<br>
</p>
<h2>Solução</h2>

<p>
    Inicialmente, foram observados que os atendentes realizam o cadastro dos pacientes com um <br>
    formulário impresso que solicita ao paciente seu nome, rg, cpf, data de nascimento, tipo sanguíneo, <br>
    endereço, numero, cidade, uf, bairro, algum meio de contato, alguma observação relevante <br>
    sobre o paciente, usuário e senha, pois, na empresa há outro sistema que aproveitará dos dados de usuário <br>
    e senha do paciente. 
</p>
<p>
    Foi proposto a criação de um prontuário virtual para o uso do psicólogo, sendo observado na rotina do psicólogo, <br>
    que são registrados as observações do paciente, como traumas passados, data e hora da consulta, nome do paciente <br>
    e considerações do psicólogo, para que ele possa prosseguir em consultas posteriores. o módulo de prontuário, <br>
    poderá ser acessado apenas pelo psicólogo. Sendo que o psicólogo poderá pesquisar, criar e alterar qualquer prontuário. <br>
</p>
<h2>Construção da Aplicação</h2>
<p>
    A aplicação foi desenvolvida pelos alunos Lucas Rosa Barbosa CPD: 33992 e Gutemberg Dantas de Alencar CPD: 34665. <br>
    O aluno Lucas, realizou a construção da interface da aplicação através das linguagens HTML5, CSS3 e JavaScript. <br>
    Foram utilizados os frameworks Materializer para o designer responsivo e animações JavaScript, JQuery e JQuery Mask <br>
    para a validação dos formulários de cadastro e AngularJS para a realização da passagem dos dados através de um <br>
    web service e o carregamento de dados dos formulários. O aluno Gutemberg , realizou através do Node.js, a inserção <br>
    dos dados na base de dados, além de desenvolver as outras operações de consulta, alterar e excluir os dados, além <br>
    de auxiliar na modelagem da base de dados e utilização do framework Gulp.js para otimizar a performance da aplicação. <br>
    O aluno Lucas e Gutemberg, realizaram a modelagem do banco relacional PostgreSQL, versão 11 e criou todos os scripts de <br>
    inserção, alteração, consulta e exclusão de tabelas e da base de dados.
</p>


