<div class="row formulario">
  <div class="col s12">
    <h2>Paciente</h2>
  </div>
  <form>
    <div class="col s12">
      <h6>Dados Pessoais</h6>
    </div>
    <div class="input-field col s12 m12">
      <input id="nome" type="text" class="validate" ng-model="paciente.no_pessoa"/>
      <label for="nome">Nome Completo</label>
    </div>
    <div class="input-field col s12 m4">
      <input id="rg" type="text" class="validate" ng-model="paciente.rg_pessoa"/>
      <label for="rg">Rg</label>
    </div>
    <div class="input-field col s12 m4">
      <input id="cpf" type="text" class="validate" ng-model="paciente.cpf_pessoa"/>
      <label for="cpf">CPF</label>
    </div>
    <div class="input-field col s12 m2">
      <input id="dtnasc" type="text" class="validate" ng-model="paciente.dt_nasc_pessoa"/>
      <label for="dtnasc">Data de Nascimento</label>
    </div>
    <div class="input-field col s12 m2">
      <input id="tpsangue" type="text" class="validate" ng-model="paciente.tp_sangui_pessoa"/>
      <label for="tpsangue">Tipo Sanguineo</label>
    </div>
    <div class="col s12">
      <h6>Endereço</h6>
    </div>
    <div class="input-field col s12">
      <input id="endereco" type="text" class="validate" ng-model="paciente.endereco"/>
      <label for="endereco">Endereço</label>
    </div>
    <div class="input-field col s12 m3">
      <input id="numero" type="text" class="validate" ng-model="paciente.numero"/>
      <label for="numero">Numero</label>
    </div>
    <div class="input-field col s12 m3">
      <input id="cidade" type="text" class="validate" ng-model="paciente.cidade"/>
      <label for="cidade">Cidade</label>
    </div>
    <div class="input-field col s12 m3">
      <input id="uf" type="text" class="validate" ng-model="paciente.uf"/>
      <label for="uf">UF</label>
    </div>
    <div class="input-field col s12 m3">
      <input id="bairro" type="text" class="validate" ng-model="paciente.bairro"/>
      <label for="bairro">Bairro</label>
    </div>
    <div class="col s12">
      <h6>Contato e Observações</h6>
    </div>
    <div class="input-field col s12 m12">
      <input id="contato" type="text" class="validate" ng-model="paciente.de_contato"/>
      <label for="contato">Contato</label>
    </div>
    <div class="input-field col s12 m12">
      <textarea id="descricao" class="materialize-textarea" data-length="100" ng-model="paciente.de_paciente"></textarea>
      <label for="descricao">Observações</label>
    </div>
    <div class="col s12">
      <h6>Acesso</h6>
    </div>
    <div class="input-field col s12 m6">
      <input id="usuario" type="text" class="validate" ng-model="paciente.no_usuario"/>
      <label for="usuario">Usuario</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="senha" type="password" class="validate" ng-model="paciente.sh_usuario"/>
      <label for="senha">Senha</label>
    </div>  
    <div class="input-field col s12 m10 direita">
      <button class="btn waves-effect waves-light" type="submit" ng-click="estado()" id="botao">Consultar</button>
    </div>
    <div class="input-field col s12 m1 direita">
      <button class="btn waves-effect waves-light" type="submit" ng-click="cadastrarPaciente()">Salvar</button>
    </div>
  </form>
  <div class="col s12 m12" id="pacientes">
    <table>
      <thead>
        <th>Nome</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Opções</th>
      </thead>  
      <tbody>
        <tr ng-repeat = "paciente in pacientes">
          <td>{{paciente.cod_pessoa}}</td>
          <td>{{paciente.no_pessoa}}</td>
          <td>{{paciente.rg_pessoa}}</td>
          <td>{{paciente.cpf_pessoa}}</td>
          <td>
            <button class="btn waves-effect waves-light" type="submit" ng-click="editarPaciente()">Editar</button>
            <button class="btn waves-effect waves-light" type="submit" ng-click="excluirPaciente()">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


